<title>Fare Modify  - Admin Dashboard  - Lakshana Travels</title>

<% include ../partials/head.ejs %>
<script src="/js/adminControl.js"></script>
<% include ../partials/loader.ejs %>
<% include ../partials/header.ejs %>


<div class="container main-hero admin-login" ng-show="showDetails && !paymentInfo">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="hero-card">

                <div class="form-group">
                    <h3>Change Ticket Fare</h3>
                    <hr>
                    <label for="changeFareDate">Date of Journey(dd/mm/yyyy)</label>
                    <input  type="date" name="changeFareDate" required="true" id="changeFareDate">
                </div>
                <div class="form-group">
                    <label for="source">From</label>
                    <select id="source" name="source">
                        <option value="Elumalai">Elumalai</option>
                        <option value="Koyambedu">Koyambedu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="destination">to</label>
                    <select id="destination" name="destination">
                        <option value="Elumalai">Elumalai</option>
                        <option value="Koyambedu">Koyambedu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="toPrice">Price</label>
                    <input type="number" name="toPrice" required="true" id="toPrice">
                </div>

                <button class="book-button" id="modify-fare">Search</button>
                <hr>




            </div>

        </div>
    </div>
</div>

<footer>
    <% include ../partials/footer.ejs %>
</footer>

<% include ../partials/footer-contents.ejs %>