<title>Remove Bus  - Admin Dashboard  - Lakshana Travels</title>
<% include ../partials/head.ejs %>
<script src="/js/adminControl.js"></script>
<% include ../partials/loader.ejs %>
<% include ../partials/header.ejs %>


<div class="container main-hero admin-login" ng-show="showDetails && !paymentInfo">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="hero-card">

                <div class="form-group">
                    <h3>Remove Bus</h3>

                    <hr>
                    <div class="form-group">
                        <label for="removeSource">From</label>
                        <select id="removeSource" name="removeSource">
                            <option value="Elumalai">Elumalai</option>
                            <option value="koyambedu">koyambedu</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="removeDestination">to</label>
                        <select id="removeDestination" name="removeDestination">
                            <option value="Elumalai">Elumalai</option>
                            <option value="koyambedu">koyambedu</option>
                        </select>
                    </div>
                    <label for="removeDate">Date of Journey(dd/mm/yyyy)</label>
                    <input  type="date" name="removeDate" required="true" id="removeDate">
                </div>



                <button class="book-button" id="remove-bus">Remove Bus</button>



            </div>

        </div>
    </div>
</div>


<footer>
    <% include ../partials/footer.ejs %>
</footer>

<% include ../partials/footer-contents.ejs %>