<div class="row logo-footer">
	<div class="col-md-12">
		<a href="/">
        <img src="/images/logo.png" alt="">
    </a>
	</div>
</div>
<div class="row links-footer">
	<div class="col-md-12">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/cancelticket">Cancel Ticket</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
</div>
<div class="row links-footer copy-footer">
	<div class="col-md-12">
		<ul>
			<li>Copyright &copy; 2017 Lakshana travels</li>
			<li>Technology driven by <a href="http://padink.in">Padink</a></li>
		</ul>
	</div>
</div>
