

<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/moment.js"></script>
<script src="/js/public.js"></script>

<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        // Code that uses jQuery's $ can follow here.
    });
</script>
<!--<script>-->
    <!--$(function () {-->
        <!--$("#date").datepicker({dateFormat: 'dd/mm/yy'}).val();-->
    <!--});-->
<!--</script>-->
</body>
</html>