<html>
<head></head>
<body>
<form method="post" action="/adminregister">
<h1>Admin Registration</h1>

 <label for="uname">Username</label>
<input type="text" id="uname" name="uname" >
    <label for="upass">Username</label>

    <input type="password" id="upass" name="upass">
<button type="submit">Register</button>
</form>
</body>
</html>