


<% include partials/head.ejs %>
<script src="/js/adminControl.js"></script>
<% include partials/loader.ejs %>
<% include partials/header.ejs %>



<h1>Seats are successfully blocked !</h1>
<h3><a href="/privateadmindashboard">return to Dashboard</a></h3>



<% include partials/footer-contents.ejs %>