<% include partials/head.ejs %>

<% include partials/loader.ejs %>
<% include partials/header.ejs %>
<div class="container final-book book-failed">
    <h1>Booking Failed!</h1>
    <h3>Sorry but the ticket was booked by someone else.</h3>
    <a href="/">&larr; Try Booking again!</a>
</div>

<footer>
    <% include partials/footer.ejs %>
</footer>

<% include partials/footer-contents.ejs %>
